@model Product

<input type="hidden" asp-for="id_product" />
<div class="form-box-greenway">
    <label asp-for="ds_name" class="form-label-greenway">Nome</label>
    <input asp-for="ds_name" class="form-items-greenway" placeholder="Digite o nome da empresa..."  required/>
</div>
<div class="form-box-greenway">
    <label asp-for="tx_description" class="form-label-greenway">Descrição</label>
    <input asp-for="tx_description" class="form-items-greenway" placeholder="Digite a descrição da empresa..."  />
</div>
<div class="form-box-greenway">
    <label asp-for="vl_sale_price" class="form-label-greenway">Preço de venda</label>
    <input asp-for="vl_sale_price" class="form-items-greenway" placeholder="R$ 0,00" required/>
</div>
<div class="form-box-greenway">
    <label asp-for="vl_cost_price" class="form-label-greenway">Preço de Custo</label>
    <input asp-for="vl_cost_price" class="form-items-greenway" placeholder="R$ 0,00" required/>
</div>
<div class="form-box-greenway">
    <label asp-for="nr_weight" class="form-label-greenway">Peso</label>
    <input asp-for="nr_weight" class="form-items-greenway" placeholder="Digite o peso do produto..."/>
</div>
