@model Company

<input type="hidden" asp-for="id_company" />
<div class="form-box-greenway">
    <label asp-for="ds_name" class="form-label-greenway">Nome</label>
    <input asp-for="ds_name" class="form-items-greenway" placeholder="Digite o nome da empresa..."  required/>
</div>
<div class="form-box-greenway">
    <label asp-for="tx_description" class="form-label-greenway">Descrição</label>
    <input asp-for="tx_description" class="form-items-greenway" placeholder="Digite a descrição da empresa..."  />
</div>
<div class="form-box-greenway">
    <label asp-for="vl_current_revenue" class="form-label-greenway">Valor da Receita Anual</label>
    <input asp-for="vl_current_revenue" class="form-items-greenway" placeholder="R$ 0,00" required/>
</div>
<div class="form-box-greenway">
    <label asp-for="nr_size" class="form-label-greenway">Número de Funcionários</label>
    <input asp-for="nr_size" class="form-items-greenway" placeholder="Digite a quantidade..." required/>
</div>
<div class="form-box-greenway">
    <label asp-for="nr_cnpj" class="form-label-greenway">CNPJ</label>
    <input asp-for="nr_cnpj" class="form-items-greenway" placeholder="Digite seu CNPJ..."  required/>
</div>
