@{
    ViewData["Title"] = "Home Page";
}

<main class="container-home text-center text-light">
   
    <section class="section-badge-home">
        <h1>ESCREVER ALGO</h1>

        <img src="~/img/BadgeCertificado_QRCode.svg" alt="Badge QRCode - Greenway" class="img-badge-home" />

        <p class="paragraph-home">O Greenway é uma inovadora plataforma SaaS projetada para auxiliar empresas na gestão de suas operações rumo à sustentabilidade.</p>

    </section>
</main>

