@{
    ViewData["Title"] = "Política de Privacidade";
}

<section class="policy-privacy-content">
    <h1>@ViewData["Title"]</h1>
    <div>
        <h2>1. Informações Coletadas:</h2>
        <p>
            Ao utilizar o Greenway, podemos coletar informações pessoais que você voluntariamente nos fornece, como nome, endereço de e-mail,
            empresa e outras informações relevantes para a prestação de nossos serviços.
        </p>
        <p>
            Além disso, podemos coletar automaticamente certas informações sobre o dispositivo que você usa para acessar o Greenway,
            como seu endereço IP, tipo de navegador, localização geográfica e outras informações técnicas.
        </p>
    </div>
    <div>
        <h2>2. Uso das Informações:</h2>
        <p>
            Utilizamos as informações coletadas para fornecer e melhorar nossos serviços, personalizar sua experiência,
            responder a suas solicitações e fornecer suporte ao cliente. Também podemos utilizar as informações para fins de pesquisa,
            análise de dados e marketing, sempre com o seu consentimento quando necessário por lei.
        </p>
    </div>
</section>