@{
    ViewData["Title"] = "Política de Privacidade";
}
<section>
    <h1>@ViewData["Title"]</h1>
    <div>
        <h2>1. Informações Coletadas:</h2>
        <p>
            Ao utilizar o Greenway, podemos coletar informações pessoais que você voluntariamente nos fornece, como nome, endereço de e-mail,
            empresa e outras informações relevantes para a prestação de nossos serviços.
        </p>
        <p>
            Além disso, podemos coletar automaticamente certas informações sobre o dispositivo que você usa para acessar o Greenway,
            como seu endereço IP, tipo de navegador, localização geográfica e outras informações técnicas.
        </p>
    </div>
    <div>
        <h2>2. Uso das Informações:</h2>
        <p>
            Utilizamos as informações coletadas para fornecer e melhorar nossos serviços, personalizar sua experiência,
            responder a suas solicitações e fornecer suporte ao cliente. Também podemos utilizar as informações para fins de pesquisa,
            análise de dados e marketing, sempre com o seu consentimento quando necessário por lei.
        </p>
    </div>
    <div>
        <h2>3. Compartilhamento de Informações:</h2>
        <p>
            Não compartilhamos suas informações pessoais com terceiros, exceto quando necessário para cumprir com a legislação aplicável,
            responder a processos judiciais, proteger nossos direitos legais ou quando expressamente autorizado por você.
        </p>
        <p>Podemos compartilhar informações agregadas e anonimizadas que não identificam individualmente os usuários para fins de análise e pesquisa de mercado.</p>
    </div>
    <div>
        <h2>4. Segurança de Dados:</h2>
        <p>
            Implementamos medidas de segurança técnicas, administrativas e físicas para
            proteger suas informações contra acesso não autorizado, divulgação, alteração ou destruição.
        </p>
        <p>
            No entanto, é importante lembrar que nenhum método de transmissão pela internet ou armazenamento eletrônico é 100% seguro.
            Portanto, não podemos garantir a segurança absoluta de suas informações.
        </p>
    </div>
    <div>
        <h2>5. Cookies e Tecnologias Semelhantes:</h2>
        <p>
            Utilizamos cookies e outras tecnologias de rastreamento para melhorar a funcionalidade do Greenway,
            personalizar sua experiência e coletar informações sobre como você interage com nossa plataforma.
        </p>
        <p>
            Você pode controlar o uso de cookies através das configurações do seu navegador,
            mas isso pode afetar a funcionalidade de certos recursos do Greenway.
        </p>
    </div>
    <div>
        <h2>6. Alterações na Política de Privacidade:</h2>
        <p>
            Podemos atualizar esta política de privacidade periodicamente para refletir
            mudanças em nossas práticas de privacidade. Recomendamos que você revise esta política regularmente
            para estar ciente de como estamos protegendo suas informações.
        </p>
        <p>
            Ao utilizar o Greenway, você concorda com os termos desta política de privacidade.
            Se você tiver alguma dúvida ou preocupação sobre nossas práticas de privacidade,
            entre em contato conosco através dos dados de contato fornecidos em nosso site.
        </p>
    </div>
</section>
